<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Group page</title>
</head>
<body>
<h1>Group page</h1>
<p th:text="${'Welcome ' + #authentication.name}"></p>

<p th:text="${'Group Name: ' + group.name}"></p>
<p>All group students:</p>
<p th:each="student, state : ${group.students}" th:text="${state.count + '. ' + student.firstName + ' ' + student.lastName}"></p>
</body>
</html>