<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin page</title>
    <style>
        * {
            background: red;
            color: white;
        }
    </style>
</head>
<body>
<h1>Admin page</h1>
<p th:text="${'Welcome ' + #authentication.name}"></p>

    <nav>
        <menu>
            <li><a th:href="@{/admin/student}">Students</a></li>
            <li><a th:href="@{/admin/group}">Groups</a></li>
            <li><a th:href="@{/admin/teacher}">Teachers</a></li>
            <li><a th:href="@{/admin/subject}">Subjects</a></li>
            <li><a th:href="@{/admin/timetable}">Timetables</a></li>
            <li><a th:href="@{/h2-console}">H2 Console</a></li>
            <li th:if="${isAdminCreator}"><a th:href="@{/admin/create}">Create Admin</a></li>
        </menu>
    </nav>
    <table th:if="${isAdminCreator}">
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Is Admin Creator</th>
        </tr>
        <tr th:each="admin : ${admins}">
            <td th:text="${admin.id}" />
            <td th:text="${admin.username}" />
            <td th:text="${admin.isAdminCreator}" />
            <td th:if="${admin.username != #authentication.name}"><a th:href="@{/admin/{id}/delete(id=${admin.id})}">Delete</a></td>
        </tr>
    </table>
</body>
</html>