<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Schedule page</title>
</head>
<body>
<h1>Schedule page</h1>
<p th:text="${'Welcome ' + #authentication.name}"></p>

<div th:each="weekDayTimetablesSchedules : ${weekDaysTimetablesSchedules}">
  <span th:each="weekDayTimetableSchedules : ${weekDayTimetablesSchedules}">
    <span th:each="schedules : ${weekDayTimetableSchedules.getValue()}">
      <span th:each="schedule, state : ${schedules.getValue()}">
        <span th:text="${schedule.subject + ' (' + schedule.teacher.firstName + ' ' + schedule.teacher.lastName + ')'}"></span><span th:if="${!state.last}">,</span>
      </span>
    </span>
  </span>
</div>
</body>
</html>