<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Change password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" th:object="${command}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <h2 class="form-signin-heading">Change password</h2>
        <p>
            <span th:text="${errorMessage}" style="color: red"></span>
            <label for="oldPassword" class="sr-only">Old Password</label>
            <input type="password" th:field="*{oldPassword}" id="oldPassword" name="oldPassword" class="form-control" placeholder="Old Password" required>
        </p>
        <p>
            <label for="newPassword" class="sr-only">New Password</label>
            <input type="password" th:field="*{newPassword}" id="newPassword" name="newPassword" class="form-control" placeholder="New Password" required>
        </p>
        <p>
            <span id="message"></span>
            <label for="confirmPassword" class="sr-only">Confirm Password</label>
            <input type="password" th:field="*{confirmPassword}" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
<script>
    $('#newPassword, #confirmPassword').on('keyup', function () {
        if ($('#newPassword').val() == $('#confirmPassword').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
</script>
</body>
</html>