<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timetable page</title>
    <style>
        * {
            background: red;
            color: white;
        }
    </style>
</head>
<body>
<h1>Timetable page</h1>
<p th:text="${'Welcome ' + #authentication.name}"></p>

<nav>
    <menu>
        <li><a th:href="@{/admin}">Admin panel</a></li>
    </menu>
</nav>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    <tr th:each="timetable : ${timetables}">
        <td th:text="${timetable.id}" />
        <td th:text="${timetable.name}" />
        <td th:text="${timetable.getTimeStart}" />
        <td th:text="${timetable.getTimeEnd}" />
        <td><a th:href="@{/admin/timetable/{id}/edit(id=${timetable.id})}">Edit</a></td>
    </tr>
</table>
</body>
</html>