<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Group page</title>
    <style>
        * {
            background: red;
            color: white;
        }
    </style>
</head>
<body>
<h1>Group page</h1>

<form method="post" th:object="${command}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <label>Name:
        <input type="text" th:field="*{name}">
    </label>
    <br />
    <table>
        <tr th:each="subject, state : ${subjects}">
            <th th:if="${state.first}"><label>Subjects:</label></th>
            <th th:if="${!state.first}"></th>
            <th>
                <label><input type="checkbox" th:field="*{subjectsId}" th:text="${subject.name}" th:value="${subject.id}"></label>
            </th>
        </tr>
    </table>
    <br />
    <input type="submit" />
</form>
</body>
</html>